<!DOCTYPE html>
<html>
<head>
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="/dist/lib/c3.min.js"></script>
<link href="/dist/lib/c3.min.css" rel="stylesheet" type="text/css">
    <title>Welcome</title>
</head>
<body>
    <h1>
        현재 유니온: <%=unionLv%>
    </h1>
    <div id="sumLv"></div>
    <script>
        let chart = c3.generate({
            bindto: '#sumLv',
            data: {
                x: 'x',
                columns: [
                    ['x', 0, 1, 2, 3, 4, 5] ,
                    ['누적 유니온 레벨', 0, <%=graphArray%>]
                ]
            }
        });
    </script>
    <h2>
        유니온 리스트
    </h2>
    <a href="/updateUnion">수정</a>
    <a href="/addUnion">추가</a>
    <hr>
    <ol>
        <% for(var i =0; i<unionList.length; i++) { %>
            <li>
                캐릭명: <%=unionList[i].name%><br>
                직업: <%=unionList[i].role%><br>
                레벨: <%=unionList[i].lv%><br><br>
            </li>
            <% } %>
        </ol>
</body>
</html>