<!DOCTYPE html>
<html>
<head>
    <title>Maple Story - Union</title>
</head>
<body>
    <form action="/updateUnion" method="post">
        <ol>
            <% for(var i =0; i<unionList.length; i++) { %>
                <li>
                    <label>
                        직업: <%=unionList[i].role%><br>
                        <input type="number" name="lv" placeholder="<%=unionList[i].lv%>" /><br>
                        Date: <%=unionList[i].date%>
                        <br><br>
                    </label>
                </li>
            <% } %>
        </ol>
        <input type="submit" value="저장" />
    </form>
</body>
</script>
</html>