<!DOCTYPE html>
<html>
<head>
    <title>Maple Story - Union</title>
</head>
<body>
    <ol>
        <% for(var i =0; i<unionList.length; i++) { %>
            <li>
                <form action="/updateUnion" method="post">
                    <label>
                        <input type="text" name="role" value="<%=unionList[i].role%>" /><br>
                        <input type="number" name="updatedLv" value="<%=unionList[i].lv%>" /><br>
                        Date: <%=unionList[i].date%>
                        <input type="submit" value="수정" />
                        <br><br>
                    </label>
                </form>
            </li>
            <% } %>
        </ol>
</body>
</script>
</html>