<!DOCTYPE html>
<html>
<head>
    <title>Update Character</title>
</head>
<body>
    <a href="/">돌아가기</a>
    <a href="/addUnion">추가</a>
    <ol>
        <% for(var i =0; i<unionList.length; i++) { %>
            <li>
                <form action="/updateUnion" method="post">
                    <label>
                        캐릭명: <input type="text" name="name" value="<%=unionList[i].name%>" readonly="readonly" /><br>
                        직업: <%=unionList[i].role%><br>
                        Lv: <input type="number" name="updatedLv" value="<%=unionList[i].lv%>" /><br>
                        Date: <%=unionList[i].date%>
                        <input type="submit" value="수정" />
                        <input type="submit" value="삭제" formaction="/deleteUnion">
                        <br><br>
                    </label>
                </form>
            </li>
            <% } %>
        </ol>
</body>
</script>
</html>